body {
    width: 70%;
    margin: 0 auto;
    background-color: green;

}

.Avengers {
    font-size: 24px;
    color:red;
}
#Pokemon    {


    font-size: 30px;
    color: cyan;
}
div p {
    width: 510px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    border: 10px solid blue;
}
h1 {
    font-size: 32px;
}