body {
    display: flex;
}
div  {
    height: 100px;
    flex-basis: 400px;
    border: 2px solid black;
}
.Flex1 {
    flex-grow: 1;
    flex-shrink: 1;
}
.Flex2 {
    flex-grow: 2;
    flex-shrink: 2;
}